///////// VARIABLES /////////

$button-text-color: #FFFFFF;
$coding-button-bg: #D85750;
$design-button-bg: #67ABDE;
$blog-button-bg: #FCB935;

$button-text-color-active: #202020;
$button-bg-active: #FFFFFF;

///////// BIG SCREENS /////////

.nav {
  .logo.mobile {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .nav {

    &>*:first-child {

      display: none;
    }

    .logo.mobile {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 650px) {

  body {

    font-size: 1.1rem;
  }

  .nav {
    .options {
      .button {

        width: 3rem;
      }
    }
  }

  .logo {
    &.title {
      font-size: 2.5rem;
      padding: 0.3rem 0.5rem 0.05rem 0.5rem;
      margin-bottom: 2rem;
    }
  }

  .main {
    font-size: 3em;
  }

  .pages {
    flex-direction: column;
    margin-bottom: 2rem;

    .button {

      margin: 0.5rem 0;
      color: $button-text-color;
      padding: 0.25rem 0.5rem;

      &.coding {
        background-color: $coding-button-bg;
      }
      &.design {
        background-color: $design-button-bg;
      }
      &.blog {
        background-color: $blog-button-bg;
      }

      &:hover {

        background-color: $button-bg-active;
        color: $button-text-color-active;
      }
    }
  }

  .social {
    .button {
      margin-right: 1rem;
    }
  }
}

///////// 4 INCH PHONES /////////

@media screen and (max-width: 350px) {

  .logo {
    &.title {

      font-size: 2rem;
    }

    &.mobile {
      padding: 0.25rem 0.5rem 0.15rem 0.5rem;
    }
  }

  .nav {
    font-size: 1.2rem;

    .options {
      .button {

        margin-right: 0.5rem;
        padding: 0.5rem 0rem;
      }
    }
  }

  .pages {
    .button {
      font-size: 1.75rem;
    }
  }

  .container {
    & > .title {

      font-size: 3rem;
    }
  }

  .social {
    .button {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }
}