@font-face {
  font-family: Moon;
  src: url("../fonts/moon-light.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Moon;
  src: url("../fonts/moon-bold.otf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand-regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand-bold.otf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand-italic.otf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand-bold-italic.otf");
  font-style: italic;
  font-weight: bold; }
