.nav .logo.mobile {
  display: none; }

@media screen and (max-width: 750px) {
  .nav > *:first-child {
    display: none; }
  .nav .logo.mobile {
    display: inline-block; } }

@media screen and (max-width: 650px) {
  .logo.title {
    font-size: 2.7rem;
    padding: 0.3rem 0.5rem 0.05rem 0.5rem;
    margin-bottom: 2rem; }
  .nav .options .button {
    width: 3rem; }
  .pages {
    flex-direction: column;
    margin-bottom: 2rem; }
    .pages .button {
      margin: 0.5rem 0;
      color: #FFFFFF; }
      .pages .button.coding {
        background-color: #D85750; }
      .pages .button.design {
        background-color: #67ABDE; }
      .pages .button.blog {
        background-color: #FCB935; }
      .pages .button:hover {
        background-color: #FFFFFF;
        color: #202020; } }
