<div class="container center vertically-center">
    <div class="main">
        <a href="#/home"><h1 class="logo title">Luis Ferrer</h1></a>
        <div class="pages">
            <a href="#/coding" class="button coding">Coding</a>
            <a href="#/experience" class="button experience">Experience</a>
            <a href="#/blog" class="button blog">Blog</a>
        </div>
        <div class="social">
            <a class="button github" href="https://github.com/ferrerluis"><i class="fa fa-github"></i></a>
            <a class="button linkedin" href="https://www.linkedin.com/in/luisferrerl"><i class="fa fa-linkedin"></i></a>
            <a class="button instagram" href="https://www.instagram.com/luislabarca"><i class="fa fa-instagram"></i></a>
            <a class="button email" href="mailto:hello@ferrerluis.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</div>
