<div class="container center">

    <h1 class="title">{{page.title}}</h1>

    <div class="items-wrapper">
        <div class="items" ng-class="page.bgColor">
            <div class="item" ng-repeat="item in page.items">
                <div class="item-info">
                    <div class="item-info-details">
                        <h2 class="item-info-details-title" style="display: inline-block">{{item.title}}</h2>
                        <p class="item-info-details-language">({{item.language}})</p>
                        <a class="item-info-details-link" ng-repeat="url in item.urls" href="{{url.url}}"><i ng-class="url.icon"></i></a>
                    </div>
                </div>
                <p class="item-description">{{item.description}}</p>
            </div>
            <div class="empty" ng-show="page.items.empty()">
                <p>No {{page.options.itemName}}s have been uploaded yet.</p>
            </div>
        </div>
    </div>
</div>
